.header-app {
  background-color: #d4af37;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  padding-left: 20px;
  border-bottom: 1px solid #0a100d;
  padding-right: 20px;
  height: 106px;
  max-height: 106px;
  z-index: 10000;
  position: relative;
}

.company-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.icone-app {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.logo-app {
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}

.social-media-header {
  display: block;
  font-size: 2rem;
  margin-right: 10px;
  transition: all 0.3s;
  margin-top: 5.5px;
}

.social-media-header:hover {
  filter: brightness(1.075);
}

.social-media-header:active {
  transform: scale(0.98);
}

.right-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: 1px solid #eee;
}

#menu-app ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
}

#menu-app ul li span {
  display: block;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.3s;
  color: #222;
  margin-right: 20px;
  border-bottom: 3px solid #fff;
  padding-bottom: 5px;
}
#menu-app ul li span:last-child {
  margin-right: 0;
}
#menu-app ul li span:hover {
  border-bottom: 3px solid #d4af37;
}

@media (max-width: 950px) {
  .header-app {
    height: 50px;
  }
  .icone-app {
    width: 38px;
    height: 38px;
  }
  .logo-app {
    height: 30px;
  }
  .social-media-header {
    display: none;
  }
}
